<div class="feed-container">
  <div class="profile-container col-3">
    <app-my-profile></app-my-profile>
  </div>
  <div class="posts-container col-6">
    <app-new-post></app-new-post>
    <div class="post-container" *ngFor="let followed of follows" (click)="redirectPostDetail(followed.post._id)">
        <ng-container *ngIf='followed.user.avatar == "" ; else elseTemplate'>
            <img class="col-2 profile-picture" [src]="defaultImagePath" >
        </ng-container>
        <ng-template #elseTemplate>
            <img class=" col-2 profile-picture" [src]="'http://localhost:3000/' + followed.user.avatar" >
        </ng-template>


        <div class="post-card col-10" >
          <p id="username"(click)="$event.stopPropagation(); redirectUserDetail(followed.user.username)">{{followed.user.name}}</p>
          <p>{{ followed.post.content}}</p>
        </div>
        <div *ngIf="followed.post.media != null" class="post-image">
          <img class="image" [src]="'http://localhost:3000/' + followed.post.media" >
        </div>
        <div class="actions">
          <app-like (click)="$event.stopPropagation()" [postId] = "followed.post._id"></app-like>
          <i class="bi bi-chat"  (click)="redirectPostDetail(followed.post._id)">{{followed.post.comments.length}}</i>
          <p id="date">{{getPostDate(followed.post.createdAt)}}</p>
        </div>
    </div>
  </div>

  <div class="messages-container col-3">
    <button class="btn btn-primary open" (click)="isMessageClicked = !isMessageClicked">Messages</button>
    <app-message *ngIf="isMessageClicked"></app-message>
  </div>
</div>

