<div class="feed-container">
    <div class="profile-container col-3">
      <app-my-profile></app-my-profile>
  </div>
  <div class="main-container col-5" *ngFor="let _user of user ">
      <div class="header col-4">
        <a class="bi bi-arrow-left" (click)="returnLastPage()"></a>
        <p>Profile</p>
    </div>
    <div class="profile-detail-container">
      <ng-container *ngIf='_user.avatar == "" || null ; else elseTemplate'>
        <img class="col-4 profile-picture-detail" [src]="defaultImagePath" >
    </ng-container>
    <ng-template #elseTemplate>
        <img class="col-4 profile-picture-detail" [src]="'http://localhost:3000/' + _user.avatar" >
    </ng-template>
    <div class="about">
      <p>{{_user.name}}</p>
      <p>{{_user.username}}</p>
      <p>Following {{follows.length}}</p>
      <p>Follower {{followers.length}}</p>
    </div>
    <div class="interactions">
      <i class="bi bi-envelope bi-xl" (click)="sendMessage = true">
      </i>
      <app-follow [userId]="_user._id"></app-follow>
    </div>
    </div>
    <div class="posts-badge">
      <p>Posts</p>
    </div>
    <div class="post-container" *ngFor="let post of posts" (click)="redirectPostDetail(post._id)">
      <ng-container *ngIf='_user.avatar == "" || null ; else elseTemplate'>
          <img class="col-2 profile-picture" [src]="defaultImagePath" >
      </ng-container>
      <ng-template #elseTemplate>
          <img class="col-2 profile-picture" [src]="'http://localhost:3000/' + _user.avatar" >
      </ng-template>

        <div class="post-card col-10" >
          <p id="username"(click)="$event.stopPropagation()">{{_user.name}}</p>
          <p>{{post.content}}</p>
        </div>
        <div *ngIf="post.media != null" class="post-image">
          <img class="image" [src]="'http://localhost:3000/'+ post.media" >
        </div>
        <div class="actions">
          <i [ngClass]="{'bi bi-star-fill': isLiked, 'bi bi-star': !isLiked}" (click)="likePost(post[0]._id)"> {{post.likes.length}}</i>
          <i class="bi bi-chat">{{post.comments.length}}</i>
          <i *ngIf="authenticatedUser == _user._id"class="bi bi-trash" (click)="likePost(post[0]._id)"></i>
          <p id="date">{{getPostDate(post.createdAt)}}</p>
        </div>
    </div>
  </div>

  <div class="messages-container col-3">
    <button class="btn btn-danger open" (click)="isMessageClicked = !isMessageClicked">Messages</button>
    <app-message *ngIf="isMessageClicked"></app-message>
  </div>
</div>

