<div class="feed-container">
  <div class="profile-container col-3">
    <app-my-profile></app-my-profile>
</div>
  <div class="posts-container col-5" *ngFor="let _post of post">
      <div class="header col-4">
        <a class="bi bi-arrow-left" (click)="returnLastPage()"></a>
        <p>Post</p>
    </div>
    <div class="post-container">
      <ng-container *ngIf='_post.author[0].avatar == "" ; else elseTemplate'>
          <img class="col-2 profile-picture" [src]="defaultImagePath" >
      </ng-container>
      <ng-template #elseTemplate>
          <img class="col-2 profile-picture" [src]="'http://localhost:3000/' + _post.author[0].avatar" >
      </ng-template>

        <div class="post-card col-10" >
          <p id="username"(click)="$event.stopPropagation(); redirectUserDetail(_post.author[0].username)" >{{_post.author[0].name}}</p>
          <p>{{_post.content}}</p>
        </div>
        <div *ngIf="_post.media != null" class="post-image">
          <img class="image" [src]="'http://localhost:3000/'+ _post.media" >
        </div>
        <div class="actions">
          <app-like (click)="$event.stopPropagation()" [postId] = "_post._id"></app-like>
          <i class="bi bi-chat" (click)="addComment = true">{{comments.length}}</i>
          <p>{{getPostDate(_post.createdAt)}}</p>
        </div>
    </div>
    <app-new-comment [postId] = "id" *ngIf="addComment == true" class="new-comment"></app-new-comment>
    <app-comment [comments]="comments"></app-comment>
  </div>

  <div></div>

  <div class="messages-container col-3">
    <button class="btn btn-danger open" (click)="isMessageClicked = !isMessageClicked">Messages</button>
    <app-message *ngIf="isMessageClicked"></app-message>
  </div>
</div>
