
<div class="feed-container">
  <div class="profile-container col-3">
    <button class="btn btn-warning btn-block btn-m">Logout</button>
  </div>
  <div class="posts-container col-6" *ngFor="let _post of post">
      <div class="header col-4">
        <a class="bi bi-arrow-left" (click)="returnLastPage()"></a>
        <p>Post</p>
    </div>
    <div class="post-container">
      <ng-container *ngIf='_post.author[0].avatar == "" ; else elseTemplate'>
          <img class="col-2 profile-picture" [src]="defaultImagePath" >
      </ng-container>
      <ng-template #elseTemplate>
          <img class="col-2 profile-picture" [src]="'http://localhost:3000/' + _post.author[0].avatar" >
      </ng-template>

        <div class="post-card col-10" >
          <p id="username"(click)="$event.stopPropagation()">{{_post.author[0].name}}</p>
          <p>{{_post.content}}</p>
        </div>
        <div *ngIf="_post.media != null" class="post-image">
          <img class="image" [src]="'http://localhost:3000/'+ _post.media" >
        </div>
        <div class="actions">
          <i [ngClass]="{'bi bi-star-fill': isLiked, 'bi bi-star': !isLiked}" (click)="likePost(_post._id)"> {{_post.likes.length}}</i>
          <i class="bi bi-chat" (click)="addComment = true">{{comments.length}}</i>
          <p>{{getPostDate(_post.createdAt)}}</p>
        </div>
    </div>
    <app-new-comment [postId] = "id" *ngIf="addComment == true" class="new-comment"></app-new-comment>
    <app-comment [comments]="comments"></app-comment>
  </div>

  <div></div>

  <div class="messages-container col-3">
    <!-- <div *ngFor="let post of posts.followedUserPost">
      <h3> {{ post.userId}}</h3>
      <p>{{ post.content }}</p>
    </div> -->
  </div>
</div>
