.header{
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  background-color: var(--nest);
  border-radius: 1rem 1rem 0 0;
}

.header > p {
  font: bolder;
  color:azure;
}
.header > a {
  color: azure;
}

.new-comment{
  width: 100%;
}
