<div class="feed-container">
  <div class="profile-container col-3">
    <app-my-profile></app-my-profile>
  </div>
  <div class="posts-container col-5" *ngFor="let _comment of comment">
      <div class="header col-4">
        <a class="bi bi-arrow-left" (click)="returnLastPage()"></a>
        <p>Post</p>
    </div>
    <div class="post-container">
      <ng-container *ngIf='_comment.author[0].avatar == "" ; else elseTemplate'>
          <img class="col-2 profile-picture" [src]="defaultImagePath" >
      </ng-container>
      <ng-template #elseTemplate>
          <img class="col-2 profile-picture" [src]="'http://localhost:3000/' + _comment.author[0].avatar" >
      </ng-template>

        <div class="post-card col-10" >
          <p id="username" type="button" (click)="$event.stopPropagation(); redirectUserDetail(_comment.author[0].username)">{{_comment.author[0].name}}</p>
          <p>{{_comment.content}}</p>
        </div>
        <div *ngIf="_comment.media != null" class="post-image">
          <img class="image" [src]="'http://localhost:3000/'+ _comment.media" >
        </div>
        <div class="actions">
          <app-like (click)="$event.stopPropagation()" [postId] = "_comment._id"></app-like>
          <i class="bi bi-chat" (click)="addComment = true">{{_comment.replies.length}}</i>
          <p>{{getCommentDate(_comment.createdAt)}}</p>
        </div>
    </div>
    <app-new-comment [postId] = "id" *ngIf="addComment == true" class="new-comment"></app-new-comment>
      <app-comment [comments]="_comment.replies"></app-comment>
  </div>

  <div class="messages-container col-3">
    <button class="btn btn-danger open" (click)="isMessageClicked = !isMessageClicked">Messages</button>
    <app-message *ngIf="isMessageClicked"></app-message>
  </div>
</div>
